VITE_SUPABASE_URL=lien_he_huy_de_lay_key
VITE_SUPABASE_ANON_KEY=lien_he_admin_de_lay_key
EMAIL_USER=lien_he_Thai
EMAIL_PASS=lien_he_Thai

VITE_SUPABASE_URL=lien_he_huy_de_lay_key
VITE_SUPABASE_ANON_KEY=lien_he_huy_de_lay_key

VITE_GOOGLE_CLIENT_ID=lien_he_huy_de_lay_key
VITE_GOOGLE_API_KEY=lien_he_huy_de_lay_key

EMAIL_USER=lien_he_huy_de_lay_key
CLIENT_ID=lien_he_huy_de_lay_key
CLIENT_SECRET=lien_he_huy_de_lay_key
REFRESH_TOKEN=lien_he_huy_de_lay_key