# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TỰ ĐỘNG BỎ QUA CÁC FILE CHỨA MÃ BẢO MẬT (CỰC KỲ QUAN TRỌNG)
.env
.env.local
.env.*.local
# Không bỏ qua file .env.example để đồng nghiệp biết cần điền gì
!.env.example

# Dependency directories
node_modules
/dist
/dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
.docker